/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
  top: 0;
  background: #f7f7f79e;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 1000;
  transition: background 0.3s, color 0.3s;
  backdrop-filter: blur(10px);
}
.theme-icon {
  font-size: 26px;
  cursor: pointer;
  transition: 0.3s;
}
body.dark .navbar {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  z-index: 1000;
  transition: background 0.3s, color 0.3s;
  backdrop-filter: blur(10px);
}
