.skills {
  padding: 60px 40px 30px 40px;
  text-align: center;
}

.skill-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 25px;
}

.skill-item {
  padding: 15px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid #333;
  font-weight: 600;
  backdrop-filter: blur(4px);
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.skill-item.show {
  opacity: 1;
  transform: translateY(0);
}

.skill-item:hover {
  transform: scale(1.05);
  border: #acacac 1px solid;
}
