/* Global */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.app {
  background: #f7f7f7;
  color: #222;
}

.app.dark {
  background: #111;
  color: #fff;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: left;
  opacity: 0.5;
  background: #ccc;
  font-size: 15px;
}

body {
  background: #a8a8a8;
  color: #222;
}

/* Dark mode */
body.dark {
  background: #111;
  color: #fff;
}

body.dark section {
  background: #000;
  color: #fff;
}
